In [1]:
from sinfo import sinfo
sinfo()

-----
sinfo       0.3.1
-----
IPython             7.16.1
jupyter_client      6.1.6
jupyter_core        4.6.3
jupyterlab          2.1.5
notebook            6.0.3
-----
Python 3.8.3 (default, Jul  2 2020, 17:30:36) [MSC v.1916 64 bit (AMD64)]
Windows-10-10.0.18362-SP0
16 logical CPU cores, Intel64 Family 6 Model 165 Stepping 2, GenuineIntel
-----
Session information updated at 2020-12-19 09:26

In [2]:
import os
import sys
import re
import numpy as np
import pandas as pd
from module1.raw_data_parser import *

In [3]:
PACK_FOLDER = 'D:\Project\Packs'

pack = Paths_Info_Summary(PACK_FOLDER)
pinfo = pack.create_signal_summary()
case = DataImporter(data_path = PACK_FOLDER, 
                pack_folder = 'Respiratory signal Example',
                 signal_summary = pinfo,
                )

In [4]:
pack

In [5]:
pack.data_folder

'D:\\Project\\Packs'

In [6]:
pinfo

,full_paths,pack,filename,signal_type
0,D:\Project\Packs\Respiratory signal Example\Ra...,Respiratory signal Example,Abd RIP.txt,abd rip
1,D:\Project\Packs\Respiratory signal Example\Ra...,Respiratory signal Example,Avg AP.txt,avg ap
2,D:\Project\Packs\Respiratory signal Example\Ra...,Respiratory signal Example,Dia AP.txt,dia ap
3,D:\Project\Packs\Respiratory signal Example\Ra...,Respiratory signal Example,ECG.txt,ecg
4,D:\Project\Packs\Respiratory signal Example\Ra...,Respiratory signal Example,EMG1.txt,emg1
5,D:\Project\Packs\Respiratory signal Example\Ra...,Respiratory signal Example,EMG2.txt,emg2
6,D:\Project\Packs\Respiratory signal Example\Ra...,Respiratory signal Example,EMG3.txt,emg3
7,D:\Project\Packs\Respiratory signal Example\Ra...,Respiratory signal Example,EMG4.txt,emg4
8,D:\Project\Packs\Respiratory signal Example\Ra...,Respiratory signal Example,EMG5.txt,emg5
9,D:\Project\Packs\Respiratory signal Example\Ra...,Respiratory signal Example,EMG6.txt,emg6
10,D:\Project\Packs\Respiratory signal Example\Ra...,Respiratory signal Example,Flow Pressure.txt,flow pressure
11,D:\Project\Packs\Respiratory signal Example\Ra...,Respiratory signal Example,Flow Th.txt,flow th
12,D:\Project\Packs\Respiratory signal Example\Ra...,Respiratory signal Example,HMM.txt,hmm
13,D:\Project\Packs\Respiratory signal Example\Ra...,Respiratory signal Example,Microphone.txt,microphone
14,D:\Project\Packs\Respiratory signal Example\Ra...,Respiratory signal Example,OESP.txt,oesp
15,D:\Project\Packs\Respiratory signal Example\Ra...,Respiratory signal Example,Pleth Flowrate.txt,pleth flowrate
16,D:\Project\Packs\Respiratory signal Example\Ra...,Respiratory signal Example,PLMl.txt,plml
17,D:\Project\Packs\Respiratory signal Example\Ra...,Respiratory signal Example,PLMr.txt,plmr
18,D:\Project\Packs\Respiratory signal Example\Ra...,Respiratory signal Example,Pulse.txt,pulse
19,D:\Project\Packs\Respiratory signal Example\Ra...,Respiratory signal Example,Snoring P.txt,snoring p
20,D:\Project\Packs\Respiratory signal Example\Ra...,Respiratory signal Example,SpO2.txt,spo2
21,D:\Project\Packs\Respiratory signal Example\Ra...,Respiratory signal Example,Sys AP.txt,sys ap
22,D:\Project\Packs\Respiratory signal Example\Ra...,Respiratory signal Example,Tx RIP.txt,tx rip
23,D:\Project\Packs\Respiratory signal Example\Ra...,Respiratory signal Example,VMM.txt,vmm
24,D:\Project\Packs\Respiratory signal Example\Sc...,Respiratory signal Example,Desaturations.txt,evt_spo2
25,D:\Project\Packs\Respiratory signal Example\Sc...,Respiratory signal Example,Hypnogramme.txt,hypno
26,D:\Project\Packs\Respiratory signal Example\Sc...,Respiratory signal Example,Micro Arousals.txt,ma
27,D:\Project\Packs\Respiratory signal Example\Sc...,Respiratory signal Example,Respiratory events.txt,respi_evt
28,D:\Project\Packs\Respiratory signal Example\Sc...,Respiratory signal Example,SpO2.txt,raw_spo2
29,D:\Project\Packs\Respiratory signal Example\Pr...,Respiratory signal Example,Profile.txt,profile

In [7]:
case

Đây là data paser cho pack dữ liệu Respiratory signal Example

In [8]:
patient_info = case.Import_pack_profile()

patient_info

{'Giới tính': 'F', 'Tuổi': 36.32, 'Chiều cao': 176.0, 'Cân nặng': 84.0}

In [9]:
import time

start = time.perf_counter()

signal_pack = case.import_multiple_raw_data(['tx rip', 'flow th', 'abd rip', 
                                             'hmm', 'sys ap', 'oesp'], 
                                            10, 
                                            n_jobs = 6)

end = time.perf_counter()

print(f'Thi hành mất {round(end - start, 2)} giây')

Khởi động tác vụ song song, tải 6 kênh tín hiệu

HBox(children=(FloatProgress(value=0.0, max=6.0), HTML(value='')))

Tải và tái chọn mẫu thành công kênh tx rip
Tải và tái chọn mẫu thành công kênh flow th
Tải và tái chọn mẫu thành công kênh abd rip
Tải và tái chọn mẫu thành công kênh hmm
Tải và tái chọn mẫu thành công kênh sys ap
Tải và tái chọn mẫu thành công kênh oesp

Đã tải xong 6 kênh tín hiệu
Thi hành mất 97.98 giây

In [10]:
signal_pack

{'tx rip': 2017-09-30 22:52:18+02:00          -351.0
 2017-09-30 22:52:18.100000+02:00   -670.0
 2017-09-30 22:52:18.200000+02:00   -813.0
 2017-09-30 22:52:18.300000+02:00   -908.0
 2017-09-30 22:52:18.400000+02:00   -946.0
                                     ...
 2017-10-01 06:19:23.500000+02:00   -111.0
 2017-10-01 06:19:23.600000+02:00    -94.0
 2017-10-01 06:19:23.700000+02:00    -74.0
 2017-10-01 06:19:23.800000+02:00    -50.0
 2017-10-01 06:19:23.900000+02:00    -24.0
 Freq: 100L, Name: tx rip, Length: 268260, dtype: float64,
 'flow th': 2017-09-30 22:52:18+02:00           133.0
 2017-09-30 22:52:18.100000+02:00     48.0
 2017-09-30 22:52:18.200000+02:00    -22.0
 2017-09-30 22:52:18.300000+02:00    -91.0
 2017-09-30 22:52:18.400000+02:00   -160.0
                                     ...
 2017-10-01 06:19:23.500000+02:00    135.0
 2017-10-01 06:19:23.600000+02:00     55.0
 2017-10-01 06:19:23.700000+02:00     -8.0
 2017-10-01 06:19:23.800000+02:00    -65.0
 2017-10-01 06:19:23.900000+02:00   -113.0
 Freq: 100L, Name: flow th, Length: 268260, dtype: float64,
 'abd rip': 2017-09-30 22:52:18+02:00           -22.0
 2017-09-30 22:52:18.100000+02:00    -20.0
 2017-09-30 22:52:18.200000+02:00    -16.0
 2017-09-30 22:52:18.300000+02:00    -12.0
 2017-09-30 22:52:18.400000+02:00     -8.0
                                     ...
 2017-10-01 06:19:23.500000+02:00    260.0
 2017-10-01 06:19:23.600000+02:00    148.0
 2017-10-01 06:19:23.700000+02:00     64.0
 2017-10-01 06:19:23.800000+02:00    -12.0
 2017-10-01 06:19:23.900000+02:00    -88.0
 Freq: 100L, Name: abd rip, Length: 268260, dtype: float64,
 'hmm': 2017-09-30 22:52:18+02:00          -154.8
 2017-09-30 22:52:18.100000+02:00   -154.9
 2017-09-30 22:52:18.200000+02:00   -154.8
 2017-09-30 22:52:18.300000+02:00   -154.8
 2017-09-30 22:52:18.400000+02:00   -154.9
                                     ...
 2017-10-01 06:19:23.500000+02:00   -154.9
 2017-10-01 06:19:23.600000+02:00   -154.8
 2017-10-01 06:19:23.700000+02:00   -154.8
 2017-10-01 06:19:23.800000+02:00   -154.8
 2017-10-01 06:19:23.900000+02:00   -154.8
 Freq: 100L, Name: hmm, Length: 268260, dtype: float64,
 'sys ap': 2017-09-30 22:52:18+02:00           0.2
 2017-09-30 22:52:18.100000+02:00    0.5
 2017-09-30 22:52:18.200000+02:00    0.2
 2017-09-30 22:52:18.300000+02:00   -0.1
 2017-09-30 22:52:18.400000+02:00    0.1
                                    ...
 2017-10-01 06:19:23.500000+02:00    0.2
 2017-10-01 06:19:23.600000+02:00    0.2
 2017-10-01 06:19:23.700000+02:00    0.0
 2017-10-01 06:19:23.800000+02:00    0.2
 2017-10-01 06:19:23.900000+02:00    0.7
 Freq: 100L, Name: sys ap, Length: 268260, dtype: float64,
 'oesp': 2017-09-30 22:52:18+02:00           -99.3
 2017-09-30 22:52:18.100000+02:00    -99.4
 2017-09-30 22:52:18.200000+02:00    -99.4
 2017-09-30 22:52:18.300000+02:00   -100.4
 2017-09-30 22:52:18.400000+02:00    -99.8
                                     ...
 2017-10-01 06:19:23.500000+02:00   -100.3
 2017-10-01 06:19:23.600000+02:00    -99.6
 2017-10-01 06:19:23.700000+02:00    -99.4
 2017-10-01 06:19:23.800000+02:00    -99.8
 2017-10-01 06:19:23.900000+02:00    -98.5
 Freq: 100L, Name: oesp, Length: 268260, dtype: float64}

In [12]:
sample_df, resampled_df, fs = case.import_raw_data(signal_type='flow', 
                                                   samp_freq=None)

Không tìm thấy data cho tín hiệu  flow ở bệnh nhân này !

In [13]:
sample_df, resampled_df, fs = case.import_raw_data(signal_type='flow th', 
                                                   samp_freq=None)

In [14]:
sample_df

2017-09-30 22:52:18+02:00           133.0
2017-09-30 22:52:18.031250+02:00    114.0
2017-09-30 22:52:18.062500+02:00     96.0
2017-09-30 22:52:18.093750+02:00     71.0
2017-09-30 22:52:18.125000+02:00     48.0
                                    ...
2017-10-01 06:19:23.843750+02:00    -79.0
2017-10-01 06:19:23.875000+02:00    -97.0
2017-10-01 06:19:23.906250+02:00   -113.0
2017-10-01 06:19:23.937500+02:00   -127.0
2017-10-01 06:19:23.968750+02:00   -137.0
Name: flow th, Length: 858432, dtype: float64

In [15]:
fs

32

In [17]:
startstop, fs = case.import_raw_data(signal_type='flow th', samp_freq=None, n_lines = 5)

In [18]:
print(startstop)

2017-09-30 22:52:18+02:00   NaN
2017-10-01 06:19:24+02:00   NaN
dtype: float64

In [19]:
sample_df, resampled_df, fs = case.import_raw_data(signal_type='oesp', 
                                                   samp_freq=10)

In [20]:
sample_df

2017-09-30 22:52:18+02:00           -99.3
2017-09-30 22:52:18.031250+02:00   -100.1
2017-09-30 22:52:18.062500+02:00    -98.5
2017-09-30 22:52:18.093750+02:00    -99.4
2017-09-30 22:52:18.125000+02:00    -99.4
                                    ...
2017-10-01 06:19:23.843750+02:00    -99.0
2017-10-01 06:19:23.875000+02:00    -99.9
2017-10-01 06:19:23.906250+02:00    -98.5
2017-10-01 06:19:23.937500+02:00   -101.0
2017-10-01 06:19:23.968750+02:00    -98.7
Name: oesp, Length: 858432, dtype: float64

In [21]:
fs

32

In [22]:
resampled_df

2017-09-30 22:52:18+02:00           -99.3
2017-09-30 22:52:18.100000+02:00    -99.4
2017-09-30 22:52:18.200000+02:00    -99.4
2017-09-30 22:52:18.300000+02:00   -100.4
2017-09-30 22:52:18.400000+02:00    -99.8
                                    ...
2017-10-01 06:19:23.500000+02:00   -100.3
2017-10-01 06:19:23.600000+02:00    -99.6
2017-10-01 06:19:23.700000+02:00    -99.4
2017-10-01 06:19:23.800000+02:00    -99.8
2017-10-01 06:19:23.900000+02:00    -98.5
Freq: 100L, Name: oesp, Length: 268260, dtype: float64

In [23]:
df_data, df_resampled, dict_map, window_len = \
case.import_adjacent_window_evt(signal_type='hypno', 
                                samp_freq = 10, 
                                reshape = False)

In [24]:
df_data

2017-09-30 23:00:00+02:00    0
2017-09-30 23:00:30+02:00    0
2017-09-30 23:01:00+02:00    0
2017-09-30 23:01:30+02:00    0
2017-09-30 23:02:00+02:00    0
                            ..
2017-10-01 06:14:00+02:00    2
2017-10-01 06:14:30+02:00    2
2017-10-01 06:15:00+02:00    2
2017-10-01 06:15:30+02:00    0
2017-10-01 06:16:00+02:00    0
Name: hypno, Length: 873, dtype: int64

In [25]:
df_resampled

2017-09-30 23:00:00+02:00           0
2017-09-30 23:00:00.100000+02:00    0
2017-09-30 23:00:00.200000+02:00    0
2017-09-30 23:00:00.300000+02:00    0
2017-09-30 23:00:00.400000+02:00    0
                                   ..
2017-10-01 06:15:59.600000+02:00    0
2017-10-01 06:15:59.700000+02:00    0
2017-10-01 06:15:59.800000+02:00    0
2017-10-01 06:15:59.900000+02:00    0
2017-10-01 06:16:00+02:00           0
Freq: 100L, Name: hypno, Length: 261601, dtype: int64

In [26]:
dict_map

{'Wake': 0, 'N1': 1, 'N2': 2, 'N3': 3, 'REM': 4, 'N4': -1, 'Mvt': -1}

In [27]:
window_len

30.0

In [28]:
df_data, df_resampled, df_event, dict_map, window_len = \
case.import_adjacent_window_evt(signal_type='hypno', 
                                samp_freq = 10, 
                                reshape = True)

In [29]:
dict_map

{'Wake': 0, 'N1': 1, 'N2': 2, 'N3': 3, 'REM': 4, 'N4': -1, 'Mvt': -1}

In [30]:
window_len

30.0

In [31]:
df_resampled

2017-09-30 23:00:00+02:00           0
2017-09-30 23:00:00.100000+02:00    0
2017-09-30 23:00:00.200000+02:00    0
2017-09-30 23:00:00.300000+02:00    0
2017-09-30 23:00:00.400000+02:00    0
                                   ..
2017-10-01 06:15:59.600000+02:00    0
2017-10-01 06:15:59.700000+02:00    0
2017-10-01 06:15:59.800000+02:00    0
2017-10-01 06:15:59.900000+02:00    0
2017-10-01 06:16:00+02:00           0
Freq: 100L, Name: hypno, Length: 261601, dtype: int64

In [32]:
df_data

2017-09-30 23:00:00+02:00    0
2017-09-30 23:00:30+02:00    0
2017-09-30 23:01:00+02:00    0
2017-09-30 23:01:30+02:00    0
2017-09-30 23:02:00+02:00    0
                            ..
2017-10-01 06:14:00+02:00    2
2017-10-01 06:14:30+02:00    2
2017-10-01 06:15:00+02:00    2
2017-10-01 06:15:30+02:00    0
2017-10-01 06:16:00+02:00    0
Name: hypno, Length: 873, dtype: int64

In [33]:
df_event

,evt_start,evt_stop,evt_info,evt_value
0,2017-09-30 23:00:00+02:00,2017-09-30 23:19:59.900000+02:00,1200.0,0.0
1,2017-09-30 23:20:00+02:00,2017-09-30 23:20:29.900000+02:00,30.0,1.0
2,2017-09-30 23:20:30+02:00,2017-09-30 23:23:29.900000+02:00,180.0,2.0
3,2017-09-30 23:23:30+02:00,2017-09-30 23:23:59.900000+02:00,30.0,0.0
4,2017-09-30 23:24:00+02:00,2017-09-30 23:25:29.900000+02:00,90.0,1.0
...,...,...,...,...
79,2017-10-01 06:04:30+02:00,2017-10-01 06:06:59.900000+02:00,150.0,2.0
80,2017-10-01 06:07:00+02:00,2017-10-01 06:07:59.900000+02:00,60.0,0.0
81,2017-10-01 06:08:00+02:00,2017-10-01 06:08:59.900000+02:00,60.0,1.0
82,2017-10-01 06:09:00+02:00,2017-10-01 06:15:29.900000+02:00,390.0,2.0
83,2017-10-01 06:15:30+02:00,2017-10-01 06:16:00+02:00,30.1,0.0

In [34]:
resp_data, resp_resampled, resp_map, \
start_datetime, stop_datetime = \
case.import_irregular_window_evt(signal_type = 'respi_evt',
                                 samp_freq=5,
                                 get_true_stop_time=True)

In [35]:
resp_data

,evt_start,evt_stop,evt_info,evt_value
0,2017-09-30 23:20:53.919000+02:00,2017-09-30 23:21:04.718000+02:00,11,4
1,2017-09-30 23:22:36.417000+02:00,2017-09-30 23:23:03.798000+02:00,27,3
2,2017-09-30 23:23:20.564000+02:00,2017-09-30 23:23:30.088000+02:00,10,4
3,2017-09-30 23:25:38.441000+02:00,2017-09-30 23:26:07.409000+02:00,29,2
4,2017-09-30 23:26:12.072000+02:00,2017-09-30 23:26:56.715000+02:00,45,2
...,...,...,...,...
81,2017-10-01 05:43:48.937000+02:00,2017-10-01 05:46:37.985000+02:00,169,1
82,2017-10-01 05:46:38.381000+02:00,2017-10-01 05:46:55.048000+02:00,17,3
83,2017-10-01 05:47:17.270000+02:00,2017-10-01 06:06:20.921000+02:00,1144,2
84,2017-10-01 06:06:28.362000+02:00,2017-10-01 06:06:40.266000+02:00,12,4
85,2017-10-01 06:08:02.489000+02:00,2017-10-01 06:15:30.901000+02:00,448,2

In [36]:
resp_resampled

                                  value
2017-09-30 23:00:00+02:00             0
2017-09-30 23:00:00.200000+02:00      0
2017-09-30 23:00:00.400000+02:00      0
2017-09-30 23:00:00.600000+02:00      0
2017-09-30 23:00:00.800000+02:00      0
...                                 ...
2017-10-01 06:15:29.800000+02:00      2
2017-10-01 06:15:30+02:00             2
2017-10-01 06:15:30.200000+02:00      2
2017-10-01 06:15:30.400000+02:00      2
2017-10-01 06:15:30.600000+02:00      2

[130654 rows x 1 columns]

In [37]:
resp_map

{'FL': 1, 'RERA': 2, 'OH': 3, 'CH': 4, 'OA': 5, 'CA': 6}

In [38]:
print(start_datetime)
print(stop_datetime)

2017-09-30 23:00:00+02:00
2017-10-01 06:19:24+02:00